/*design dos botões*/

#instagram {
    background-color:rgb(172, 42, 122);
    cursor: pointer; 
    color: white;
    width: 120px; 
    height: 30px; 
    font-size: 20px; 
    font-family: sans-serif;
    border-radius: 15px;
    border-color: white;
}
#linkedin {
    background-color: rgb(0, 99, 156);
    cursor: pointer;
    color: rgb(255, 255, 255);
    width: 120px; 
    height: 30px; 
    font-size: 20px; 
    font-family: sans-serif;
    border-radius: 15px;
    border-color: white;
}
#twitch{
    background-color:rgb(169, 112, 255);
    color: white;
    cursor: pointer;
    width: 120px;
    height: 30px;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 15px;
    border-color: white;
}
#discord{
    background-color:rgb(85, 97, 245);
    color: white; 
    cursor: pointer; 
    width: 120px;
    height: 30px; 
    font-size: 20px; 
    font-family: sans-serif;
    border-radius: 15px;
    border-color: white;
}
/*-------------------------------------------------------------------------*/
#instagram:hover{
    background-color: rgb(141, 82, 148);
}
#linkedin:hover{
    background-color: rgb(73, 133, 168);
}
#twitch:hover{
    background-color: rgb(172, 140, 214);
}
#discord:hover{
    background-color: rgb(107, 122, 252);
}