body {
  margin: 0;
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  margin: 0 2rem;
  width: 78rem;
  border: 0.4em solid rgb(0, 49, 0);
  padding: 0.5rem;
  background-color: rgb(75, 208, 75);
  position: fixed;
  top: 0;
  border-radius: 1rem;
}

main {
  background-color: rgb(144, 240, 144);
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 2rem;
  border: 0.4rem solid rgb(1, 42, 1);
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  color: rgb(0, 49, 0);
  text-transform: uppercase;
}

img {
  margin: 4rem 36% 1rem;
  width: 18rem;
  border-radius: 1rem;
  border: 0.4rem solid rgb(1, 42, 1);
}

a {
  border: 0.2rem solid rgb(75, 208, 75);
  display: block;
  line-height: 25px;
  font-size: 18px;
  text-align: center;
  font-family: Impact, Haettenschweiler, sans-serif;
  margin-left: auto;
  margin-right: auto;
  color: rgb(75, 208, 75);
  background-color: rgb(0, 49, 0);
  text-decoration: none;
  height: 24px;
  width: 15em;
}

a:hover {
  border: 0.2rem solid rgb(0, 49, 0);
  color: rgb(0, 49, 0);
  background-color: rgb(75, 208, 75);
}

#lesson {
  font-family: Courier, monospace;
  font-weight: 700;
  margin-left: 1rem;
  font-style: italic;
  text-decoration: underline;
}

#licoes_aprendidas , #licoes_a_aprender {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.5rem;
}

#licoes_a_aprender {
  margin-left: 1rem;
}

#licoes_aprendidas li:hover , #licoes_a_aprender li:hover {
  color: rgb(75, 208, 75);
}

article {
  border: 0.2rem solid rgb(0, 49, 0);
  padding: 0.5rem 2rem;
  margin: 1.5rem 0;
}

article section h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.5rem;
}

article section p {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
}

table {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

table tr td {
  border: 0.1rem solid rgb(0, 49, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

table tr td:nth-of-type( 1 ) {
  text-align: right;
  width: 10rem;
}

table tr td:hover {
  color: white;
  background-color: rgb(0, 49, 0);
}
