* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

body {
  background-color: rgb(253, 251, 251);
}

header {
    background-color: rgb(150, 148, 148);
    width: 100%;
    text-align: center;
    font-size: small;
}

#titulo {
    margin-top: 0.8%;
    margin-bottom: 1%;
}

#cabecalho {
  top: 0;
  position: fixed;
  color: rgb(249, 249, 250);
}

#minha_foto {
  border-radius: 100%;
  margin-top: 6%;
  width: 10%;
  margin-left: 39%;
}

#licoes_aprendidas {  
  padding: 1%;
  border-radius: 50%;
  box-shadow: 10px 5px 5px 4px black;
  background-color: rgb(173, 177, 177);
  text-align: center;
  list-style-type: none;
  width: 30%;
  line-height: normal;
  margin-left: 5%;
  margin-top: -10%;
}

#licoes_a_aprender {
  margin: 1%;
  padding: 1%;
  border-radius: 50%;
  box-shadow: 10px 5px 5px 4px black;
  background-color: rgb(173, 177, 177);
  text-align: center;
  list-style-type: none;
  width: 30%;
  line-height: normal;
  margin-left: 5%;
  margin-bottom: 2%;
}

h1 {
  text-shadow: 2px 2px black;
  color: rgb(248, 246, 242);
  margin-bottom: 2%;
}

.lado-esquerdo {
  box-shadow: 10px 5px 5px 4px black;
  width: 20%;
  background-color: rgb(173, 177, 177);
  padding: 1%;
  border-radius: 15px;
  float: right;
  margin-top: -40%;
  margin-right: 27%;
  margin-bottom: 10%;
  position: relative;
}


.lado-direito {
  margin-top: 2%;
  box-shadow: 10px 5px 5px 4px black;
  width: 20%;
  background-color: rgb(173, 177, 177);
  margin-bottom: 2%;
  padding: 1%;
  border-radius: 15px;
  float: right;
  margin-top: -33%;
  margin-right: 3%;
  position: relative;
}

.githubacess {
  background-color: rgb(23, 187, 18);
  border: 1px solid black;
  padding: 1.5%;
  float: right;
  margin-top: -8%;
  margin-right: 17%;
  border-radius: 15px;
}

.githubacess a {
  font-size: large;
  font-weight: 600;
  text-shadow: 2px 2px black;
  color: rgb(248, 247, 245);
}

#rodape {
  background-color: rgb(150, 148, 148);
  width: 100%;
  text-align: center;
  padding: 2%;
}

#rodape .websocial {
  text-decoration: none;
  font-size: large;
  font-weight: 600;
  background-color: rgb(47, 136, 209);
  border: 1px solid black;
  padding: 1%;
  margin-left: 3%;
  border-radius: 15px;   
}

button.websocial a {
  text-shadow: 2px 2px black;
  color: rgb(248, 246, 242);
}