body {
  margin: 0;
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  margin: 0 2rem;
  width: 75rem;
  border: 0.4em solid rgb(26, 221, 26);
  padding: 0.5rem;
  background-color: rgb(75, 208, 75);
  position: fixed;
  top: 0;
  border-radius: 1rem;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  color: rgb(0, 49, 0);
}
