/* mudei a cor de fundo para a cor rgb(253, 251, 251) */
body { background-color: rgb(253, 251, 251); }


/**
* centralizei o texto em h1 no título */

h1 { text-align: center;
  color: rgb(253, 251, 251);
}

#cabecalho {
  background: rgb(0, 147, 192);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

}

#rodape {
  text-align: center;
  padding: 3px;
  background: rgb(228, 228, 228);
  width: 100%;
  bottom: 0;
  left: 0;
  position: relative;
  color: rgb(115, 115, 115);


}

table , th , td {
  border: 1px solid rgb(115, 115, 115);
}
