body {
  background-color: rgb(253, 251, 251);
  font-family: sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0;
}

img {
  margin-top: 10%;
  width: 200px;
}

#geral{
    width: 100%;
    overflow: hidden;
}

#lista {
  display: inline-block;
}

#lista2 {
  display: inline-block;
}


article {
  display: block;
  text-align: justify;
}

#rodape {
  position: absolute;
  bottom: 0;
}