body {
    background-color: rgb(253, 251,251);
}

#cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(73, 158, 91);
}

#cabecalho li {
    display: inline;
    list-style: none;
    float: right;
    margin-right: 20px;
}

#cabecalho li a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

#cabecalho li a:hover {
    background-color: cornflowerblue;
    transition: all .6s;
     
}

#minha_foto {
    width: 180px;
    border-radius: 10% 20% ;
    margin-left: 180px;
    margin-top: 120px;
}

#rodape {
    text-align: center;
    background-color:  rgb(73, 158, 91);
    padding: 20px;
    width: 100%;
}

#skills-lists {
    padding-left: 50px;
}

.lists-content {
    border: 1px solid black;
    width: 40%;
    text-align: center;
    display: inline-block;
}

.lists-content h2 {
    font-family: Georgia, 'Times New Roman', Times, serif
}

.lists-content li {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

.lists-content img {
    width: 100px;
    position: absolute;
    top: 600px;
    height: 100px;
    border-radius: 20%;
}

#artigo {
    width: 100%;
    text-align: center;
    border: 1px solid black;;
    margin-top: 30px; 
}

#artigo p {
    font-family: 'Courier New', Courier, monospace;
}

#artigo h2 {
    font-family: Georgia, 'Times New Roman', Times, serif
}

.lado-direito {
    width: 15%;
    padding-left: 10px;
    margin-left: 10px;
    float: right;
    font-style: italic;
    background-color: lightgray;
    margin-top: 500px; 
}
