body {
    background-color: rgb(253, 251,251);
}

#cabecalho {
    top: 0;
    text-align: center;
    background-color: rgb(73, 158, 91);
    padding: 20px;
}

#minha_foto {
    width: 180px;
    border-radius: 10% 20% ;
    margin-left: 180px;
    margin-top: 30px;
}

#rodape {
    text-align: center;
    background-color:  rgb(73, 158, 91);
    padding: 20px;
}

#skills-lists {
    padding-left: 14%;
}

.lists-content {
    border: 1px solid black;
    width: 40%;
    text-align: center;
    display: inline-block;
}

.lists-content h2 {
    font-family: Georgia, 'Times New Roman', Times, serif
}

.lists-content li {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

.lists-content img {
    width: 100px;
    position: absolute;
    top: 600px;
    height: 100px;
    border-radius: 20%;
}

#artigo {
    width: 600px;
    text-align: center;
    border: 1px solid black;
    margin-left: 380px;
    margin-top: 40px;
}

#artigo p {
    font-family: 'Courier New', Courier, monospace;
}

#artigo h2 {
    font-family: Georgia, 'Times New Roman', Times, serif
}

aside {
    width: 15%;
    padding-left: 10px;
    margin-left: 10px;
    float: right;
    font-style: italic;
    background-color: lightgray;
    margin-top: 50px; 
}
