*{
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    background-color: rgb(34, 156, 232);
    position: fixed;
    width: 100%;
    padding: 20px;
    
}

#titulo {
    text-align: center;
    padding: 30px;
}

#minha_foto {
    width: 20%;
    margin: 13% 2%;
 }

 #licoes_aprendidas {
   
   margin: 50px 90px;
   font-size: 25px;

 }

#licoes_a_aprender {
  margin: 0px 250px;
 font-size: 25px;
  
}

div {
 display: inline-block;
}

.title {
    margin-left: 60px;
    font-size: 25px;
}

#rodape {
    padding: 40px;
    background-color: rgb(34, 156, 232);
    
}
#artigo {
    font-size: 20px;
    padding: 20px;
    color: rgb(63, 67, 70);
    display: inline-block;
    
}

